<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlecomus>
                <version>1.0.0</version>
                <model>Dhl\EcomUs\Model\Carrier\EcomUs</model>
                <is_online>1</is_online>
                <max_package_weight>44</max_package_weight>

                <!-- Default Elements -->
                <active>0</active>
                <title>DHL eCommerce</title>
                <sort_order>0</sort_order>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>

                <!-- General Settings -->
                <general_shipping_settings>
                    <logging_group>
                        <loglevel>400</loglevel>
                    </logging_group>
                </general_shipping_settings>

                <!-- Account Settings -->
                <account_settings>
                    <sandboxmode>1</sandboxmode>
                    <api_password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                </account_settings>

                <!-- Shipment Defaults -->
                <shipment_defaults>
                    <shipping_products backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                        <![CDATA[
                            {
                                "_1584113413591_591":{"route":"US-US","product":"GND"},
                                "_1584113437328_328":{"route":"US-INTL","product":"PLT"},
                                "_1584113449409_409":{"route":"CA-INTL","product":"PLT"}
                            }
                        ]]>
                    </shipping_products>
                    <terms_of_trade>DDU</terms_of_trade>
                </shipment_defaults>
            </dhlecomus>
        </carriers>
    </default>
</config>
